*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Basic site variables */
:root {
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semi: 500;
  --fw-bold: 700;
  --fs-h1: 1.25rem;
  --fs-h2: 1.75rem;
  --fs-body: 1rem;
  --fs-xl: 4rem;
  --clr-light: #fff;
  --clr-gray: #989898;
  --clr-dark: #444;
  --clr-accent: #d06d6d;
  --clr-accent-dark: #613131;
  --degree-size: 8px;
  --angle: 1;
  --rot: 0;
  --radius: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#report {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background-image: url("./blue-water-background.jpg");
  background-size: cover;
  color: var(--clr-light);
  min-height: 135vh;
  overflow: hidden;
}

div.map-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

#realtime {
  color: var(--clr-accent);
  width: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1;
}

a {
  color: var(--clr-accent);
}

.margin-bottom {
  margin-bottom: 15px !important;
}

a:hover {
  color: var(--color-accent-dark);
}

.main-title {
  color: var(--clr-accent);
  font-size: var(--fs-h1);
  font-weight: var(--fw-light);
  text-transform: uppercase;
  margin: 20px 0;
  grid-column: 1 / -1;
}

.location-info {
  grid-column: 1 / -1;
}

.location {
  color: var(--clr-accent);
  font-size: var(--fs-h1);
  font-weight: var(--fw-light);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.conditions {
  padding-top: 20px;
}

.section-title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  margin: 0;
}

.reading {
  font-size: var(--fs-h1);
  margin: 0;
  color: var(--clr-gray);
}

.current-report {
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  transition: visibility 0.5s linear, opacity 0.5s linear;
}

.date {
  margin: 20px 0;
  grid-column: 1 / 2;
}

.date-day {
  margin: 10px 0;
  font-size: var(--fs-h2);
  color: var(--clr-gray);
  font-weight: var(--fw-light);
}

.section-title-time {
  color: var(--clr-accent);
}

.weather-wrapper {
  width: 100px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.weather-images {
  flex-direction: row;
}

.weather-container > div {
  flex: 1;
}

.temp {
  padding: 20px 0;
  --border: solid 0.25em var(--clr-accent-dark);
}

.temp h2 {
  margin: 0;
}

.wind-and-swell {
  position: relative;
}

.wind-and-swell #location-map {
  background-size: cover;
}

.swell-arrow {
  background-image: url("../assets/icons/swell-arrow.png");
  background-size: cover;
}

.wind-arrow {
  background-image: url("../assets/icons/wind-arrow.png");
  background-size: cover;
}

.wind-circle,
.swell-circle {
  position: absolute;
  z-index: 1;
  left: 0%;
  top: 0%;
  width: 323px;
  height: 323px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .swell-circle,
  .wind-circle {
    min-width: 95%;
    min-height: 95%;
    left: 12px;
    top: 3px;
  }
}

.wind-degree,
.swell-degree {
  position: absolute;
  transform: rotate(0deg);
  width: var(--degree-size);
  height: var(--degree-size);
  top: (var(--degree-size) / 2);
  left: 133px;
  transition: transform 0.7s linear;
  color: #ff4444;
  border-radius: 50%;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.wind {
  grid-column: 3 / 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-self: start;
}

.wind .section-title,
.wind .reading {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.weather-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.wind-direction {
  --size: 4rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

.swell-arrow,
.wind-arrow {
  height: 50px;
  width: 25px;
}

.info {
  grid-column: 1 / 4;
}

.upcoming-surf button {
  display: none;
}

.upcoming-day {
  cursor: pointer;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.7);
}

@keyframes slideUpIn {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 600px) {
  .current-report {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;
    margin: 2em 4em;
  }

  .temp {
    padding: 0 20px;
    grid-column: 2 / 3;
    border-left: var(--border);
    border-right: var(--border);
  }

  .main-title,
  .info,
  .date {
    margin: 0;
  }

  .weather-container {
    margin: 20px 0;
    flex-direction: column;
  }

  .weather-wrapper {
    display: flex;
  }

  .wind-and-swell {
    margin: 20px 0 !important;
  }

  .wind-and-swell #location-map {
    max-height: 325px;
    max-width: 325px;
  }

  .info {
    margin-bottom: 5%;
  }

  .upcoming-days {
    flex-direction: row;
  }

  .upcoming-surf button {
    display: block;
  }

  .upcoming-surf {
    cursor: pointer;
    height: 500px;
    padding: 3rem;
    background: var(--clr-light);
    color: var(--clr-dark);
    position: fixed;
    bottom: 0;
    width: 100%;
    transform: translateY(90%);
    transition: transform 350ms ease;
    z-index: 2;
  }

  .show-upcoming-surf {
    position: absolute;
    background: var(--clr-light);
    left: 50%;
    width: 10rem;
    transform: translate(-50%, calc(-100% - 2.89rem));
    text-align: center;
    font-size: var(--fs-h2);
    line-height: 1;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    color: var(--clr-gray);
    border: 0;
  }

  .show-upcoming-surf:hover,
  .show-upcoming-surf:focus {
    color: var(--clr-dark);
  }

  .upcoming-days {
    display: flex;
    justify-content: space-between;
    overflow-y: scroll;
  }

  .upcoming-surf-title {
    transform: translateY(-2rem);
    text-align: center;
    margin-bottom: 2rem;
  }

  .show-surf.upcoming-surf .upcoming-surf-title {
    animation: slideUpIn 750ms forwards;
    text-align: left;
  }

  .upcoming-day {
    margin: 2px;
    padding: 10px;
    border-radius: 5px;
    flex: 1;
    background-color: white;
  }

  .more-info- .upcoming-day-date {
    font-size: 0.9rem;
    color: var(--clr-gray);
  }

  .upcoming-day > * {
    margin: 0;
  }

  .upcoming-day-btn {
    cursor: pointer;
    margin-top: 1rem;
    border: 0;
    border-radius: 100vmax;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    text-transform: uppercase;
    padding: 0.3rem;
  }

  .upcoming-day-btn:hover {
    background-color: var(--clr-gray);
  }

  .arrow-label {
    cursor: pointer;
    display: block;
    transform: rotate(0);
    transition: transform 300ms ease;
  }

  .show-surf.upcoming-surf {
    transform: translateY(0);
  }

  .upcoming-surf.show-surf .arrow-label {
    display: block;
    transform: rotate(180deg);
  }

  .show-surf.upcoming-surf .upcoming-day {
    opacity: 0;
    animation: slideUpIn 750ms forwards;
  }

  .show-surf.upcoming-surf .upcoming-day:nth-child(1) {
    animation-delay: 100ms;
  }
  .show-surf.upcoming-surf .upcoming-day:nth-child(2) {
    animation-delay: 125ms;
  }
  .show-surf.upcoming-surf .upcoming-day:nth-child(3) {
    animation-delay: 150ms;
  }
  .show-surf.upcoming-surf .upcoming-day:nth-child(4) {
    animation-delay: 175ms;
  }
  .show-surf.upcoming-surf .upcoming-day:nth-child(5) {
    animation-delay: 200ms;
  }
  .show-surf.upcoming-surf .upcoming-day:nth-child(6) {
    animation-delay: 225ms;
  }
  .show-surf.upcoming-surf .upcoming-day:nth-child(7) {
    animation-delay: 250ms;
  }
}
